
#logo {
    width: 420px;
    height: 140px;
    margin: auto;
}
.navbar-brand {
    display: none;
}
footer {
    position: fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    color: #9d9d9d;
    background-color:#101010;
    text-align:center;
    padding:5px;
}
.transactionRow {
    cursor: pointer;

}
table tr th {
    text-align: center;
}
table tr th:first-child {
    text-align: left;
}
table tr th:last-child {
    text-align: right;
}
table tr td {
    text-align: center;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}
table tr td:first-child {
    text-align: left;
    border-left: 1px solid #ddd;
}
table tr td:last-child {
    text-align: right;
    border-right: 1px solid #ddd;
}
.tags td {
    border-top: 0 !important;
    color: lightblue;
    text-align: left !important;
}
tr:last-child td {
    border-bottom: 1px solid #ddd;
}
.table>thead>tr>th {
    border-bottom: 0 !important;
}
.modal-footer {
    text-align: center !important;
}

@media (max-width: 480px) {
.container-fluid, .container {
    font-size: 16px !important;
}
.form-control {
    height: 50px !important;
    font-size: 18px !important;
}
#logo {
    display: none;
}
form h2 {
    margin-top: 0;
    text-align: center;
}
.navbar-brand {
    padding: 3px 0px 9px 15px !important;
    display: inherit;
}
footer {
    display: none !important;
}
}
